// Fonts 

%montserrat-400{ 
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
   }    
     
   %montserrat-500{ 
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
   }    
    
   %montserrat-900{ 
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
   }    
    
    
   %hind-400{ 
    font-family: "Hind", sans-serif;
    font-weight: 400;
   }   
    
   %hind-500{ 
    font-family: "Hind", sans-serif;
    font-weight: 500;
   }   
    
   %hind-700{ 
    font-family: "Hind", sans-serif;
    font-weight: 700;
   } 