@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header { 
    background-color: #030D19;
    background-image: url('../images/header/boxer-bg.png'); 
    background-repeat: no-repeat;  
    background-size:auto;
    background-position: bottom right;

    &__top {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background-color: #030D19;
        padding: 30px 50px;
    }

    &__logo-img {
        width: 147px;
        height: 107px;
    }

    .menu {

        &__btn {
            position: relative;
            width: 36px;
            height: 24px;
            padding: 0;
            background-color: transparent;
            transition: all 0.25s; 
            border: 1px solid transparent;
            display: none;

            .row-top,
            .row-middle,
            .row-bottom {
                position: absolute;
                top: 0;
                left: 0;
                width: 36px;
                height: 4px; 
                border-radius: 20px;
                background: white;
                transform: rotate(0);
                transition: all 0.5s;
            }

            .row-middle {
                transform: translateY(10px);
            }

            .row-bottom {
                transform: translateY(19px);
            }

        }

        &__btn.menu__btn--open {

            .row-top {
                transform: rotate(45deg) translateY(7px) translateX(7px);
            }

            .row-middle {
                display: none;
            }

            .row-bottom {
                transform: rotate(-45deg) translateY(7px) translateX(-7px);
            }
        }

        &__list {
            display: flex;
            align-items: center;
        }

        &__item+.menu__item {
            margin-left: 82px;
        } 

        &__link {
            @extend %montserrat-500;
            font-size: 24px;
            color: #FFF;
        } 
         
        &__link--special-btn{ 
            @extend %montserrat-500;
            font-size: 20px;
            color: #FFF;   
        }

    } 
     
    &__main{ 
        padding-top: 300px; 
        padding-left: 69px;  
    } 
     
    &__title{  
        width: 100%;
        max-width: 1005px; 
        height: 160px;  
        @extend %hind-500;
        color:#FFF; 
        font-size: 80px; 
        line-height: 80px;   
        margin-bottom: 31px;
    } 
     
    &__text, 
    &__text-tablet{ 
       @extend %montserrat-500; 
       font-size: 20px; 
       line-height: 27px; 
       color: #FFF; 
       width: 100%; 
       max-width: 936px; 
       margin-bottom: 57px;
    }   
     
    &__text-tablet{ 
        display: none;
    }
     
  
     
    &__book-btn{ 
      margin-bottom: 31px;
    } 
     
    &__main-btn{ 
        @extend %montserrat-500; 
        font-size: 20px;  
        margin-bottom: 191px; 
        color:#FFF; 
        display: block;
    }  
     
   &__info{   
    width: 100%;
    max-width: 1412px; 
    border:1px solid transparent; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 95px;
   }
     
   &__info-item{  
     padding-left: 89px; 
     position:relative; 
     border: 1px solid transparent; 
     height: 63px; 
     display: flex; 
     align-items:center;
   } 
    
   &__info-text{ 
    @extend  %montserrat-500; 
    font-size: 20px;  
    line-height: 26px;
    color:#FFF;  
    display: block;
    }
     
    &__info-text::before{  
        content: "";
        width: 66px; 
        height: 63px;   
        background-image: url('../images/header/phone.svg'); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size:cover;
        position: absolute; 
        top: 0; 
        left:0; 
        border:1px solid transparent;
    }    
     
    &__info--clock::before{ 
        background-image: url('../images/header/clock.svg');   
    }
      
    &__info--location::before{ 
        background-image: url('../images/header/location.svg');   
    }

}  
 
.benefits1{ 
    padding-top: 165px; 
    background-color: #030d19; 
    background-image: url('../images/benefits1/woman-holding-weights.png'); 
    background-repeat: no-repeat;   
    background-size: auto;
    background-position: right;
     
    &__title{ 
      @extend %hind-500; 
      font-size: 48px; 
      text-align:center;   
      color: #FFF; 
      margin-bottom: 90px;
    }  
     
    &__items{ 
       padding-left: 69px; 
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(2, 1fr);
       grid-column-gap: 160px;
       grid-row-gap: 189px; 
       margin-bottom: 183px;
    }
     
   &__item{ 
       border:1px solid transparent;  
       width: 100%; 
       max-width: 758px; 
       padding-left: 187px; 
       position: relative;
    } 
     
    &__item-title{ 
       @extend %hind-700;  
       font-size: 40px; 
       color:#FFF; 
       margin-bottom: 31px;
    }   

    &__item-title::before{  
        content: "";  
        background-image: url('../images/benefits1/dumbbell.svg'); 
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        width: 105px; 
        height: 91px;  
        border-radius: 50%;
        border: 1px solid transparent; 
        position: absolute; 
        top: 29px; 
        left: 15px;  
        box-shadow: 0px -1px 37px 9px rgba(169, 10, 61, 1);
    }  
     
    &__item--karate::before{ 
        background-image: url('../images/benefits1/karate.svg');   
    } 
     
    &__item--biceps::before{ 
        background-image: url('../images/benefits1/biceps.svg');   
    } 
     
    &__item--basketball::before{ 
        background-image: url('../images/benefits1/basketball.svg');   
    }
     

      
    &__item-text{ 
       @extend  %montserrat-500; 
       font-size: 24px; 
       line-height: 40px; 
       color:#FFF; 
       opacity: 0.8;
    }
} 
 
.video{ 
    background-color: #030D19; 
     
    &__suptitle{ 
        @extend %hind-500; 
        font-size: 48px; 
        text-align: center; 
        color: #FFF; 
        margin-bottom: 49px; 
        display: block;
    } 
     
    &__title{ 
        @extend %hind-500; 
        font-size: 80px; 
        text-align: center; 
        color: #FFF;  
        margin-bottom:70px; 
        display: block;
    } 
     
    &__content{ 
        width: 100%; 
        max-width: 1320px; 
        height: 601px; 
        border-radius: 20px; 
        margin: 0 auto 89px; 
        background-image: url('../images/video/video-content-bg.png');   
        background-color: #030D19;  
        background-repeat: no-repeat;    
        background-position: left;
        background-size: cover; 
        border: 1px solid transparent; 
        box-shadow: -3px 4px 53px 14px rgba(169,10,61,1); 
        display: flex; 
        justify-content: center; 
        align-items: center;
    }
} 
 
.benefits2{  
    background-color: #030D19; 
    padding-top: 107px;  
    background-image: url('../images/benefits2/male-biceps-workout.png'); 
    background-repeat: no-repeat;  
    background-size: auto;
    background-position: bottom left; 
     
   &__inner{ 
    overflow: hidden;
   }
     
    &__title{ 
     @extend  %hind-500; 
     font-size: 48px; 
     color: #FFF; 
     text-align: center; 
     display: block;    
     margin-bottom: 87px;
    }   
     
    &__items{  
        width: 100%;
        max-width: 1700px; 
        border: 1px solid transparent; 
        margin: 0 auto 117px; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr); 
        grid-row-gap: 61px; 
        grid-column-gap: 217px; 
    }  
     
    &__item{  
        width: 100%;
        max-width: 715px; 
        padding-left: 153px; 
        border: 1px solid transparent; 
        position: relative; 
    } 
     
    &__item-title{ 
      @extend  %hind-700; 
      font-size: 40px; 
      color: #FFF;  
      margin-bottom: 31px;
    } 
     
   &__item-text{ 
     @extend %montserrat-500;  
     font-size: 24px; 
     line-height: 40px; 
     color: #FFF; 
     opacity: 0.8;
   } 
    
   &__item-img{ 
    position: absolute; 
    top: -38px;
    left: -35px;
   } 
    
   &__item-img-mobile{ 
      display: none;
   }
}
  
.benefits3{ 
    background-color: #030d19; 
    padding: 107px 0 140px;  
  
     
   &__title{  
     @extend %hind-500; 
     font-size: 60px; 
     text-align: center; 
     color: #FFF; 
     margin-bottom: 107px;  
     display: block;
   }  
    
   &__items{ 
     width: 100%; 
     max-width: 1605px; 
     margin: 0 auto 30px; 
     border: 1px solid transparent; 
     display: flex; 
     justify-content: space-between; 
     align-items: center;
   }
    
   &__item{  
     width: 100%;
     max-width: 466px; 
     border-radius: 20px; 
     padding: 73px 33px 50px 33px; 
     box-shadow: 0px 4px 41px 4px rgba(247,8,76,1); 
     display: flex; 
     flex-direction: column; 
     align-items: center; 
     text-align: center;
   } 
    
  &__item-img{ 
    margin-bottom: 43px;
  }  
   
  &__item-text{ 
     @extend %montserrat-500; 
     font-size: 24px; 
     line-height: 40px; 
     color: #FFF;
  }

} 
 
  
.contact{  
    padding-top: 137px;  
    background-image: url('../images/booking/young-fitness-man.png');  
    background-color: #030d19; 
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: bottom right;  
    margin-bottom: 75px;
     
    &__title{ 
        @extend %hind-500; 
        font-size: 60px; 
        color: #FFF; 
        text-align: center; 
        margin-bottom: 105px;
    } 
     
    &__booking{  
        width: 100%;
        max-width: 785px; 
        margin: 0 auto 190px; 
        border: 1px solid transparent; 
        display: flex; 
        justify-content: space-between; 
        align-items: center;
    } 
     
    &__booking-btn--transparent{ 
         background: transparent; 
         border: 1px solid #F7084C;
    }
} 
 
.footer{   
    border-top: 3px solid #F7084C; 
    background-color: #030d19;  
     
    &__inner{ 
        border: 1px solid transparent; 
        display: flex; 
        justify-content: space-between; 
        align-items: center;
    }    
     
    &__copyright{ 
        color:#FFF;
    }
     
    &__social{ 
        border: 1px solid transparent; 
        display: flex; 
        justify-content: space-between; 
        align-items: center;  
        width: 100%;
        max-width: 195px; 
        padding-right: 40px;
    }

}





 


   
   

 
  
 
   

 
  
 

@import 'media'; 
 
 
